@charset "UTF-8";

  /* 变量 */
 $font10: .266rem; $font12: .32rem; $font14: .36rem;
 $font16: .42rem;  $font18: .48rem; $font20: .533rem;
 $font24: .64rem;  $font30: .8rem;
 $color: #19bd9b;  $color1: #020202;  $fontcolor: #53616a;
 $border: #d6d7dc;
 @mixin duration ($time) {
  transition-duration: $time;
  -moz-transition-duration: $time; /* Firefox 4 */
  -webkit-transition-duration: $time; /* Safari 和 Chrome */
  -o-transition-duration: $time; /* Opera */
 }
 @mixin translateX ($translateX){
  transform:translateX($translateX);
  -moz-transform:translateX($translateX); /* Firefox */
  -webkit-transform:translateX($translateX); /* Safari and Chrome */
  -o-transform:translateX($translateX); /* Opera */
 }

/*reset css */
body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,textarea,optgroup,p,blockquote,figure,hr,menu,dir,thead,tbody,tfoot,th,td {margin:0;padding:0}  
ul,ol{list-style-type:none;list-style-image:none}
a{text-decoration:none}a:active{background-color:transparent}  a:active,a:hover{outline:0 none}a:focus{outline:1px dotted}  
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;text-size-adjust:100%;font-size:62.5%}  
body{font-size:14px;line-height:1.8}
h1,h2,h3,h4,h5,h6{font-weight:400}h1{font-size:36px}h2{font-size:30px}h3{font-size:22px}h4{font-size:18px}h5{font-size:14px}h6{font-size:12px}
a:link,a:visited,a:hover,a:active{text-decoration: none;}
a,button{
    outline:none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
button,input,textarea{
    border: none;
    background: none;
}
textarea{overflow: hidden;}
a:hover{text-decoration:none;}
a{color: $color1;}

/* common css */

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.clearfix {
  *zoom: 1;
  &:before {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
  }
}

.line20 {
  height: 20px;
  background: #f9f9f9;
}

.line50 {
  height: 50px;
}

.line100 {
  height: 100px;
}

/* body{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
} */

/* 水波纹样式 */

// button {
//   position: relative;
//   display: block;
//   height: 3em;
//   letter-spacing: .2em;
//   font-weight: bold;
//   cursor: pointer;
//   overflow: hidden;
//   user-select: none;
//   border-radius: 2px;
// }

.ripple {
  position: absolute;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 100%;
  pointer-events: none;
  transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  z-index: 9999;
  &.show {
    animation: ripple .75s ease-out;
    -moz-animation: ripple .75s ease-out;
    -webkit-animation: ripple .75s ease-out;
    -o-animation: ripple .75s ease-out;
    -ms-animation: ripple .75s ease-out;
  }
}

@keyframes ripple {
  to {
    transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    opacity: 0;
  }
}


@-moz-keyframes ripple {
  to {
    transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    opacity: 0;
  }
}


@-webkit-keyframes ripple {
  to {
    transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    opacity: 0;
  }
}


@-o-keyframes ripple {
  to {
    transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    opacity: 0;
  }
}


@-ms-keyframes ripple {
  to {
    transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    opacity: 0;
  }
}

/* ------加载动画------ */
    .animate{
      // display: none;
      width: 100%;
      height: 100%;
      background: #fff;
      box-sizing: border-box;
      padding-top: 150px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .rectBox{
      width: 50px;
      height: 50px;
      background: url(../image1080/logoloading.png) no-repeat,#121416;
      background-size: 40px 40px;
      background-position: 4px 2px;
      border-radius: 25px; 
      position: absolute;
      z-index: 9999;
      top: 50%;
      left: 50%;
    }
    #rect{
      width: 50px;
      height: 50px; 
      margin: 0 150px;
      border-radius: 25px; 
      position: absolute;
      z-index: 9999;
      top: 50%;
      left: 50%;
      margin-top: -25px;
      margin-left: -25px;
    }
    div.rect .point{
      width: 6px;
      height: 6px;
      background: #02b5c4;
      margin: 0 auto;
      border-radius: 50%;
    }
    div.rect{
      position: relative;
      animation:mymove 1s linear infinite;
      -webkit-animation:mymove 1s linear infinite;
      -moz-animation:mymove 1s linear infinite;
      -o-animation:mymove 1s linear infinite;
      -ms-animation:mymove 1s linear infinite;
    }
    @keyframes mymove{
      0% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
      }
    }
    @-webkit-keyframes mymove{
      0% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
      }
    }
    @-moz-keyframes mymove{
      0% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
      }
    }
    @-o-keyframes mymove{
      0% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
      }
    }
    @-ms-keyframes mymove{
      0% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
      }
    }
/* ------加载动画结束------ */

/* ------提示样式------ */
.tipsBox{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  left: 0;
}
#tips{
  width: 9rem;
  height: 5.333rem;
  color: #fff;
  // background: rgba(0,0,0,.7);
  background: url("../image/icon-point.png") no-repeat,#efeff4;
  background-size: 1rem 1.333rem;
  background-position: 3.8335rem .533rem;
  border-radius: .5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 1.8rem;
  margin-top: -2.6665rem;
  margin-left: -4.5rem;
  box-sizing: border-box;
  z-index: 999;
  p{
    font-size: .5rem;
    text-align: center;
    line-height: 3em;
    color: #333;
  }
  div{
    position: relative;
    text-align: center;
    button{
      display: inline-block;
      height: 1.0666rem;
      font-size: .5rem;
      line-height: 1.0666rem;
      color: #666;
      background: #fff176;
      border-radius: .16rem;
      border: 1px solid #909090;
      padding: 0 .5rem;
      // margin-left: 3.5rem;
      margin-top: .2rem;
      // margin-bottom: .68rem;
    }
    label{
      font-size: 10px;
      color: #666;
      padding-left: 16px;
      position: absolute;
      bottom: 0;
      left: .5rem;
    }
    span{
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid #666;
      border-radius: 50%;
      margin: 5px 0;
      position: absolute;
      bottom: 0;
      left: .5rem;
      // background: #fff176;
    }
    span.on{
      background: url(../image/1icon-yes.png) no-repeat;
      background-size: 10px 10px;
    }
  }
}
/* ------提示样式结束------ */

/* ---------------------弹框样式 */

.head {
  display: none;
}

.MELDialog {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  z-index: 9999;
  max-width: 640px;
  right: 0px;
  margin: auto;
  .mask {
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    background: #000000;
    filter: alpha(opacity = 60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    z-index: 10000;
  }
  button {
    width: 50%;
  }
  .dia {
    position: absolute;
    background: #ffffff;
    z-index: 20000;
  }
  &.okdialog {
    z-index: 29999;
    .mask {
      z-index: 30000;
    }
    .dia {
      z-index: 40000;
    }
  }
  .dia {
    .MELDialogClose {
      width: 40px;
      height: 40px;
      position: relative;
      top: -3px;
      right: 26px;
      float: right;
      cursor: pointer;
      background-image: url("../images/dialogBack.png");
      background-size: 100%;
      filter: alpha(opacity = 60);
      opacity: .6;
    }
    .MELDialogTitle {
      padding: 0px;
      margin: 0px;
      padding-top: 3px;
      border: 0px;
      margin-left: 20px;
      border: 0px;
    }
  }
  &.okdialog .head .ok {
    padding-top: 32px;
    span {
      display: block;
      background-image: url("../images/ok.png");
      background-repeat: no-repeat;
      width: 74px;
      height: 74px;
      margin: auto;
    }
  }
  &.warndialog .head .warn {
    padding-top: 32px;
    span {
      display: block;
      background-image: url("../images/warn.png");
      background-repeat: no-repeat;
      width: 74px;
      height: 74px;
      margin: auto;
    }
  }
  &.okcanceldialog {
    button {
      width: 80%;
    }
    table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      position: relative;
      td {
        text-align: center;
        border: 1px solid rgba(209, 209, 209, 0.2);
        position: relative;
        height: 50px;
        line-height: 50px;
        border-right: none;
      }
    }
    .head .okcancel {
      padding-top: 32px;
      span {
        display: block;
        background-image: url("../images/okcancel.png");
        background-repeat: no-repeat;
        width: 74px;
        height: 74px;
        margin: auto;
      }
    }
  }
  &.openPrompt {
    button {
      width: 80%;
    }
    table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      td {
        text-align: center;
        border: 1px solid rgba(209, 209, 209, 0.2);
        border-left: none;
        border-bottom: none;
        height: 45px;
      }
    }
    .head .okcancel {
      padding-top: 32px;
      span {
        display: block;
        height: 0px;
        margin: auto;
      }
    }
    p {
      color: #b88014;
    }
    .textarea {
      text-align: center;
      position: relative;
      margin-bottom: 50px;
    }
    textarea {
      margin: auto;
      width: 90%;
      height: 100px;
    }
  }
  &.openText {
    .inside {
      position: absolute;
      top: 40px;
      width: 96%;
      margin-left: 2%;
      height: 80%;
      border: 1px solid #ccc;
      overflow-y: auto;
      p {
        word-wrap: break-word;
      }
    }
    button {
      display: none;
    }
  }
  &.openScrollImg {
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    .mask {
      filter: alpha(opacity = 90);
      -moz-opacity: 0.9;
      -khtml-opacity: 0.9;
      opacity: 0.9;
    }
    .dia {
      background: none !important;
      border: 0px !important;
      position: absolute !important;
      top: 0px !important;
      left: 0px !important;
      width: 100% !important;
      height: 100% !important;
      > div {
        position: relative;
        height: 100%;
      }
      ul {
        overflow: hidden;
        position: relative;
        list-style: none;
        height: 100%;
      }
      li {
        float: left;
        width: 100%;
        height: 100%;
        position: relative;
      }
    }
    .num {
      position: absolute !important;
      bottom: 20%;
      color: #fff;
      width: 100%;
      height: auto !important;
      text-align: center;
    }
    img {
      width: 100%;
      position: absolute;
      top: 50%;
      height: auto;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      position: relative;
    }
  }
}

.bottomNav{
  display: none;
  width: 1144px;
  height: 140px;
  // background: url(../image1080/7-menuon.png) no-repeat;
  // background-size: 1144px 140px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -572px;
  z-index: 1000;
  .nav{
    padding: 0 80px;
    li{
      float: left;
      width: 246px;
      a{
        display: block;
        width: 100%;
        height: 100%;
        font-size: 34px;
        line-height: 120px;
        text-align: center;
        color: #dcdcdc;
        outline: none;
      }
    }
  }
  button{
    display: block;
    width: 200px;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
    z-index: 10;
  }
}

.topPadding {
  width: 100%;
  background: #1e2022;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

h1.title{ 
  height: 120px;
  width: 600px;
  font-size: 48px;
  line-height: 120px;
  color: #e5e5e5;
  padding-left: 240px;
  position: fixed;
  top: 40px;
  background: url(../image1080/1-logo.png) no-repeat,url(../image1080/2-titleback.png) no-repeat;
  background-position: 70px 0,0 0;
  background-size: auto 110px,auto 120px;
  // z-index: 9; 
}

.back{
  width: 122px;
  height: 122px;
  position: fixed;
  bottom: 30px;
  left: 90px;
  background: url(../image1080/4-back.png) no-repeat;
  background-size: 100% 100%;
  z-index: 999;
}

//招商经理名片框
.msgDiv{
  width: 290px;
  // height: 906px;
  padding: 60px 0 30px 0;
  position: absolute;
  top: 50px;
  right: 40px;
  z-index: 10;
  overflow-x: hidden;
}
.manageMsgBox{
  width: 280px;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  background: rgba(110,110,110,0.2);
  color: #e5e5e5;
  position: absolute;
  padding-bottom: 20px;
  top: 200px;
  right: 40px;
  z-index: 10;
  .img1{
    width: 92px;
    height: 92px;
    margin-top: -60px;
    margin-left: 40px;
    border-radius: 50%;
  }
  .img2{
    width: 80px;
    height: 80px;
    margin-top: -54px;
    margin-left: 20px;
  }
  &>h3{
    font-size: 26px;
    text-align: center;
    margin: 15px auto 20px auto;
    line-height: 1em;
    // text-shadow: 3px 3px 0 rgba(255,255,255,0.1);
  }
  p{
    font-size: 20px;
    line-height: 30px;
    padding: 0 10px;
  }
}
.manageMsgBox1,.manageMsgBox2{
  position: static;
}
.manageMsgBox2{
  margin-top: 100px;
}
// .manageMsgBoxCity{
//   left: 100px!important;
// }

#slidBar{
  width: 60px;
  height: 280px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -140px;
  z-index: 102;
  li{
    width: 40px;
    height: 110px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #1a1a1a;
    background: #3b3b3b;
    padding: 20px 10px;
    word-wrap: break-word;
  }
  li.on{
    color: #fff;
    background: #00acc1;
  }
}
#slidBar:hover{
  opacity: 1;
}

#bottomBtn{
  opacity: 0.5;
  width: 230px;
  height: 90px;
  background: url(../image1080/3-menu.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -115px;
  z-index: 11;
}
#bottomBtn:hover{
  opacity: 1;
}

#mapListBoxToR{
  @include translateX (0);
  @include duration(0.5s);
}
.mapListBox{
  // display: none;
  width: 100%;
  color: #ccc;
  margin-top: -1px;
  // margin-left: -2.6rem;
  overflow: hidden;
  position: absolute;
  left: 0;
  z-index: 9;
  @include translateX (-12.6rem);
  @include duration(0.5s);
  h2{
      font-size: $font16;
      font-weight: 700;
      // height: 2em;
    }
    
    ul.list{
      // width: 100%;
      font-size: 0;
      li{
        -webkit-flex-wrap: wrap;
        display: inline-block;
        height: .9rem;
        // float: left;
        font-size: $font14;
        text-align: center;
        line-height: .9rem;
        // margin-right: .1rem;
        margin-bottom: .1rem;
        margin-right: .12rem;
        padding: 0 22px 0 .1rem;
        border-radius: .2rem;
        box-sizing: border-box;
        border: 1px solid #ccc;
        overflow: hidden;
        a{
          display: block;
          width: 100%;
          height: 100%;
          color: #fff;
          box-sizing: border-box;
        }
        span{
          line-height: .9rem;
          font-size: 8px;
        }
      }
    }
    #mapListToL{
      @include translateX (-2.6rem);
      @include duration(0.5s);
    }
    #mapListToR{
      @include translateX (0);
      @include duration(0.5s);
    }
  div.mapListL{
    position: absolute;
    width: 12.6rem;
    height: 100%;
    // position: absolute;
    animation:moveRight 0.5s;
    -moz-animation:moveRight 0.5s; /* Firefox */
    -webkit-animation:moveRight 0.5s; /* Safari and Chrome */
    -o-animation:moveRight 0.5s; /* Opera */

    @keyframes moveRight
    {
    from {left: -5.2rem;}
    to {left: -1rem;}
    }

    @-moz-keyframes moveRight /* Firefox */
    {
    from {left: -5.2rem;}
    to {left: -1rem;}
    }

    @-webkit-keyframes moveRight /* Safari and Chrome */
    {
    from {left: -5.2rem;}
    to {left: -1rem;}
    }

    @-o-keyframes moveRight /* Opera */
    {
    from {left: -5.2rem;}
    to {left: -1rem;}
    }
  }
  ul.countryList{
    width: 2.6rem;
    height: 100%;
    background: #1f2020;
    border-right: 1px solid #f0f5f9;
    box-shadow: 0 0 20px #000;
    overflow-x: hidden;
    padding-bottom: 1.2rem;
    box-sizing: border-box;
    li{
      // width: 100%;
      height: 2.6rem;
      font-size: $font20;
      text-align: center;
      line-height: 2.6rem;
      background: #1f2022;
      border-bottom: 1px solid $border;
      box-sizing: border-box;
      position: relative;
      span{
        width: 100%;
        text-align: center;
        position: absolute;
        font-size: 8px;
        bottom: -25px;
        left: 0;
      }
    }
    li.on{
      background: #53616a;
    }
    li:hover{
      background: #53616a;
    }
  }
  ul.provinceList{
    width: 2.6rem;
    height: 100%;
    font-size: $font16;
    line-height: 3em;
    text-align: center;
    overflow-x: hidden;
    background: rgba(0,0,0,.7);
    padding-bottom: 1.2rem;
    border-right: 1px solid #f0f5f9;
    box-sizing: border-box;
    li{
      border-bottom: 1px solid #1f2022;
      box-sizing: border-box;
      height: 1.3rem;
      line-height: 1.3rem;
      span{
        font-size: 8px;
      }
    }
    li.on{
      background: #1f2022;
    }
  }
  .cityListBox{
    width: 4.8rem;
    height: 100%;
    background: rgba(0,0,0,.7);
    padding-left: .2rem;
    padding-right: .2rem;
    margin-right: 1px;
    box-sizing: border-box;
    overflow-x: hidden;
    h3{
      font-size: $font14;
      height: 2em;
      b{
        display: inline-block;
        width: .2rem;
        height: .2rem;
        background: #f0f5f9;
        margin-right: .1rem;
      }
    }
    ul.cityList1 li{
      background: #ccc;
      position: relative;
      a{color: #1f2022;}
      span{
        position: absolute;
        top: 0;
        right: 3px;
        color: #222;
      }
    }
    ul.cityList2{
      margin-top: .8rem;
      padding-bottom: 1.2rem;
      li{
        padding-right: .1rem;
      }
    }
  }

  .countysListBox{
    // display: none;
    width: 2.2rem;
    height: 100%;
    background: rgba(0,0,0,.7);
    padding-left: .2rem;
    padding-right: .2rem;
    border-left: 1px solid #f0f5f9;
    margin-left: -1px;
    margin-right: -1px;
    // box-sizing: border-box;
    h3{
      font-size: $font14;
      height: 2em;
      b{
        display: inline-block;
        width: .2rem;
        height: .2rem;
        background: #f0f5f9;
        margin-right: .1rem;
      }
    }
    ul.list{
      overflow-x: hidden;
      height: 100%;
      li{
        width: 100%;
        height: 1.8em;
        background: #ccc;
        border-radius: .12rem;
        line-height: 1.8em;
        padding-right: 16px!important;
        overflow: hidden;
        position: relative;
        a{
          color: #1f2022;
        }
        span{
          color: #1f2022;
          line-height: .648rem;
          position: absolute;
          right: 3px;
          top: 0;
        }
      }
    }
    // h2{
    //   font-size: $font16;
    //   font-weight: 700;
    //   height: 2em;
    // }
    // h3{
    //   font-size: $font14;
    //   height: 2em;
    //   b{
    //     display: inline-block;
    //     width: .2rem;
    //     height: .2rem;
    //     background: #f0f5f9;
    //     margin-right: .1rem;
    //   }
    // }
  }
}

#main {
  /* 利用css开启GPU加速 */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* ------首页------ */

.showList {
  position: absolute;
  width: 9rem;
  height: 6rem;
  left: 50%;
  top: 50%;
  margin-left: -4.5rem;
  margin-top: -3rem;
  button {
    display: block;
    width: 9rem;
    line-height: 2.6em;
    margin-top: .5rem;
    font-size: 0.533rem;
    text-align: center;
    color: #fff;
    background: #ff8a80;
    border-radius: .1rem;
  }
}

/* ------世界地图------ */
#body{
  overflow: hidden;
  background: url('../image1080/background.jpg') no-repeat;
  background-size: 100% 100%;
}

.listBoxTitle{
  background: url(../image1080/1-logo.png) no-repeat!important;
  background-position: 70px 0!important;
  background-size: auto 110px!important;
}

.worldMap {
  padding-top: 40px;
}

.mapTitle{
  background: url(../image1080/5-totalnumber.png) no-repeat;
  background-size: 100% 100%;
  font-size: 18px;
  line-height: 70px;
  color: #191919;
  position: absolute;
  top: 100px;
  left: 900px;
  z-index: 10;
  padding: 0 15px;
  strong{
    font-size: 34px;
    color: #f93332!important;
    line-height: 70px;
  }
}

.tooltip{
  width: 100px;
  height: 120px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 30px;
  background: url(../image1080/6-tap.png) no-repeat;
  background-size: 100% auto;
  position: absolute;
  z-index: 9;
  p{
    font-size: 14px;
    span{
      font-size: 24px;
      font-weight: 300;
      line-height: 1em;
    }
  }
  h2{
    font-size: 14px;
    line-height: 1em;
    font-weight: 700;
  }
}
.tooltip1{
  width: 200px;
  height: 240px;
  top: 245px;
  left: 1080px;
  padding-top: 60px;
  p{
    font-size: 18px;
    span{
      font-size: 48px;
      font-weight: 300;
      line-height: 1em;
    }
  }
  h2{
    font-size: 28px;
    line-height: 1em;
    font-weight: 700;
  }
}
.tooltip2{
  top: 345px;
  left: 1250px;
}
.tooltip3{
  top: 650px;
  left: 1230px;
}
.tooltip4{
  top: 360px;
  left: 420px;
}
.tooltip5{
  top: 450px;
  left: 1000px;
}
.tooltip6{
  top: 280px;
  left: 760px;
}

.listBox{
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  .selectBox{
    position: absolute;
    right: 10px;
    top: 45px;
    &>div:last-child{margin-right: 56px;}
    &>div{
      float: left;
      margin-right: 40px;
      position: relative;
      width: 260px;
      height: 120px;
      h2{
        width: 260px;
        height: 120px;
        background: url(../image1080/3-more.png) no-repeat, #dcdcdc;
        background-position: right 10px center;
        color: #000;
        font-size: 42px!important;
        border-radius: 12px;
        line-height: 120px;
        padding-left: 10px;
        position: absolute;
        top: 0;
        left: 0;
      }
      ul{
        display: none;
        height: 637px;
        float: left;
        color: #000;
        background: #ccc;
        padding-top: 120px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        overflow-x: hidden; 
        li{
          width: 260px;
          height: 90px;
          font-size: 38px;
          line-height: 90px;
          padding-left: 10px;
          background: #ccc;
          border-bottom: 1px solid #2e2e2e;
          overflow-y: hidden;
          p{
            height: 100%;
          }
        }
      }
    }
  }
}

.barGraphBox{
  position: absolute;
  width: 1186px;
  // background: url(../image1080/1-background2.png) no-repeat;
  // background-size: 100% 100%;
  bottom: 0;
  left: 0;
  padding-top: 30px;
  box-sizing: border-box;
  z-index: -1;
  .barLengend{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 120px;
    margin-top: 100px;
    z-index: 1000;
    li{
      float: left;
      font-size: 16px;
      line-height: 30px;
      color: #f0f5f9;
      margin-right: 10px;
      padding-left: 35px;
      border-radius: 4px;
      position: relative;
      span{
        display: block;
        position: absolute;
        left: 0;
        top: 5px;
        width: 30px;
        height: 20px;
        border-radius: 4px;
        background: #525252;
      }
    }
    li.on span{
      background: #00838f;
    }
  }
  ul.on{
    li:nth-child(1) span{background: #006064;}
    li:nth-child(2) span{background: #00838f;}
    li:nth-child(3) span{background: #0097a7;}
    li:nth-child(4) span{background: #00acc1;}
    li:nth-child(5) span{background: #00bcd4;}
    li:nth-child(6) span{background: #26c6da;}
    li:nth-child(7) span{background: #4dd0e1;}
    li:nth-child(8) span{background: #80deea;}
    li:nth-child(9) span{background: #b2ebf2;}
    li:nth-child(10) span{background: #e0f7fa;}
    li:nth-child(11) span{background: #c4ccd3;}
    li:nth-child(12) span{background: #006064;}
  }
  h2{
    width: 300px;
    color: #dcdcdc;
    font-size: 42px;
    text-align: center;
    margin: -30px auto 10px auto;
    border-bottom: 4px solid #dcdcdc;
  }
}

#barGraphBox{
  width: 1186px;
  overflow-x: hidden;
}

.barGraph{
  // display: none;
  width: 1186px;
  height: 95%;
}

.unDevelopBox{
  display: none;
  width: 730px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  h2{
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    color: #999;
    margin-bottom: 30px;
    span{
      display: inline-block;
      padding: 0 40px;
      box-sizing: border-box;
      border-bottom: 4px solid #999;
    }
  }
  ul{
    padding-right: 16px;
    box-sizing: border-box;
    li{
      min-width: 180px;
      height: 80px;
      font-size: 38px;
      line-height: 80px;
      text-align: center;
      color: #999;
      box-sizing: border-box;
      border: 2px solid #999;
      border-radius: 12px;
      padding: 0 10px;
      margin-right: 40px;
      margin-bottom: 40px;
      float: right; 
    }
  }
}

// .hideBtn{
  
//   width: 122px;
//   height: 122px; 
//   position: absolute;
//   right: 46px;
//   bottom: 80px;
//   background: url(../image1080/4-back.png) no-repeat;
//   background-size: 100% 100%;
// }

#countryListBox{
  width: 410px;
  height: 900px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -480px;
  margin-right: 40px;
  z-index: 9;
}
#scroll{
  width: 380px;
  height: 40px;
  margin-left: 15px;
  margin-top: 20px;
}
.scrollTop{
  background: url(../image1080/scroll.gif) no-repeat;
  background-size: 380px 40px;
  transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  margin-top: 0px;
  margin-bottom: 20px;
}
.scrollBottom{
  background: url(../image1080/scroll.gif) no-repeat;
  background-size: 380px 40px;
}

.countryListBox{
  height: 840px;
  position: relative;
  text-align: center;
  overflow-x: hidden;
  &>li:nth-child(3n){border-bottom: 0;}
  &>li{
    width: 380px;
    font-size: 24px;
    line-height: 50px;
    border-bottom: 1px solid #191919;
    margin: 0 auto;
    padding-bottom: 20px; 
    margin-bottom: 20px;
    span{font-size: 34px;}
    h3{
      color: #00bcd4;
      margin-bottom: 10px;
      background: rgba(41,41,41,0.5);
      span{font-size: 36px;}
      strong{
        font-size: 36px;
      }
    }
    ul{
      color: #00bcd4;
      li{
        width: 180px;
        margin-right: 20px;
        float: left;
        background: rgba(41,41,41,0.5);
        h4{
          height: 60px;
          line-height: 60px;
        }
        p{
          line-height: 50px;
          background: #00bcd4;
          color: #191919;
        }
      }
      li:last-child{
        margin-right: 0;
      }
    }
  } 
}

// .countryListBox:after{
//   content: ' ';
//   display: block;
//   width: 380px;
//   height: 40px;
//   background: #ccc;
//   position: fixed;
//   bottom: -20px;
//   left: 15px;
//   z-index: 10;
// }

/* ------世界地图结束------ */

/* ------国家地图------ */
.visualMap{
  min-height: 200px;
  position: absolute;
  top: 50%;
  right: 80px;
  z-index: 100;
  // margin-top: -460px;
  li{
    font-size: 24px;
    color: #f0f5f9;
    line-height: 46px;
    padding-left: 40px;
    position: relative;
  }
  span{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background: #525252;
    position: absolute;
    left: 0;
    top: 8px;
  }
  // 颜色的顺序需要跟country.js文件的col数组相同
  // ['#d21819', '#8265b9', '#ed9740', '#d1ed40', '#7bed40', '#40ed5d', '#40eeb3', '#40cfed', '#0e47a1', '#1976d3', '#673bb7', '#8e24aa', '#d81a60', '#ec407a', '#d32f2e', '#f6410a', '#fe5722', '#fb8c00', '#fec107', '#f3ce37']
  
  // li:nth-child(19) span{background: #d21819;}
  // li:nth-child(18) span{background: #8265b9;}
  // li:nth-child(17) span{background: #ed9740;}
  // li:nth-child(16) span{background: #d1ed40;}
  // li:nth-child(15) span{background: #7bed40;}
  // li:nth-child(14) span{background: #40ed5d;}
  // li:nth-child(13) span{background: #40eeb3;}
  // li:nth-child(12) span{background: #40cfed;}
  // li:nth-child(11) span{background: #0e47a1;}
  // li:nth-child(10) span{background: #1976d3;}
  // li:nth-child(9) span{background: #673bb7;}
  // li:nth-child(8) span{background: #8e24aa;}
  // li:nth-child(7) span{background: #d81a60;}
  // li:nth-child(6) span{background: #ec407a;}
  // li:nth-child(5) span{background: #d32f2e;}
  // li:nth-child(4) span{background: #f6410a;}
  // li:nth-child(3) span{background: #fe5722;}
  // li:nth-child(2) span{background: #fb8c00;}
  // li:nth-child(1) span{background: #fec107;}
  // li:nth-child(0) span{background: #f3ce37;}
}

.managerList {
  opacity: 0.5;
  width: 90px;
  height: 230px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -115px;
  background: url(../image1080/manager1.gif) no-repeat;
  background-size: 100% 100%;
}
.managerList2{
  background: url(../image1080/manager2.gif) no-repeat;
  background-size: 100% 100%;
}

#managerListBox {
  width: 1290px;
  overflow-x: hidden;
  position: absolute;
  margin-left: -1200px;
  top: 0;
  left: 0;
  z-index: 1100;
  // overflow: hidden;
  .Left,.Min{
    width: 600px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
  }
  .Left{
    left: 0;
  }
  .Min{
    left: 600px;
    background: #2f2f2f;
  }
  .tit{
    position: relative;
    height: 220px;
    background: #808080;
    h2 {
      position: absolute;
      font-size: 30px;
      line-height: 60px;
      top: 160px;
      left: 20px;
      color: #dcdcdc;
    }
    .managerDetailTit{
      width: 600px!important;
    } 
  }
}
.managerListShadow{
  width: 600px;
  height: 240px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  background: -webkit-linear-gradient(top, rgba(128,128,128,0), rgba(128,128,128,0.6)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(bottom, rgba(128,128,128,0), rgba(128,128,128,0.6)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(bottom, rgba(128,128,128,0), rgba(128,128,128,0.6)); /* Firefox 3.6 - 15 */
  background: linear-gradient(to bottom, rgba(128,128,128,0), rgba(128,128,128,0.6)); /* 标准的语法（必须放在最后） */
}
.managerListBox {
  // display: none;
  width: 600px;
  background: #808080;
  color: #fff;
  box-sizing: border-box;
  padding-bottom: 5px;
  overflow-x: hidden;
  z-index: 10;
  a {
    &:hover, &:active, &:link, &:visited {
      text-decoration: none;
    }
  }
  li.on{
    // background: #fff!important;
    background: url(../image1080/4-littleblock.png) no-repeat, #fff;
    background-size: 36px 36px;
    background-position: right 6px top 6px;
  }
  li {
    width: 100%;
    height: 240px;
    box-sizing: border-box;
    border-bottom: 1px solid #d6d7dc;
    border-top: 1px solid #d6d7dc;
    background: #dcdcdc;
    padding-top: 50px;
    margin-bottom: 5px;
    position: relative;
    img {
      width: 160px;
      height: 160px;
      box-sizing: border-box;
      border-radius: 50%;
      position: absolute;
      top: 40px;
      left: 20px;
    }
    p {
      font-size: 26px;
      line-height: 1.4em;
      color: #53616a;
      padding-right: 50px;
      padding-left: 200px;
    }
    &:first-child {
      border-top: none;
    }
  }
}

.managerDetail{
  width: 600px;
  color: #dcdcdc;
  background: #2f2f2f;
  padding-bottom: 30px;
}

.photoBox{
  width: 100%;

  background: url(../image1080/5-back.png) no-repeat;
  background-size: 100% 100%;
  padding-bottom: 20px;
  padding-top: 30px;
  .photo{
    width: 166px;
    height: 166px;
    // background: url(../image1080/3-photo.png) no-repeat;
    // background-size: 100% 100%;
    margin: 0 auto;
    border-radius: 50%;
  }
  p{
    font-size: 26px;
    padding-left: 20px;
  }
  p.name{
    font-size: 30px;
    text-align: center;
    padding-left: 0;
  }
}

.storeContent{
  overflow-x: hidden;
}

.photoList{
  margin: 0 30px;
  border-bottom: 2px solid #000;
  li{
    width: 120px;
    height: 120px;
    margin: 10px 20px 10px 0;
    float: left;
    img{
      width: 100%;
      height: 100%;
    }
  }
  li:last-child{margin-right: 0;}
}

.managerMsg{
  padding-left: 30px;
  .phone{
    font-size: 30px;
    line-height: 70px;
    height: 70px;
    background: url(../image1080/7-iconphone.png) no-repeat;
    background-size: 30px 40px;
    background-position: 0 center;
    padding-left: 40px;
  }
  img{
    width: 170px;
    height: 170px;
  }
  span{
    font-size: 30px;
    text-indent: 10px;
    color: #808080;
  }
}

.developDetailBox{
  padding: 0 30px 10px 30px;
  h2{
    font-size: 30px;
    line-height: 70px;
    padding-left: 50px;
    background: url(../image1080/8-square.png) no-repeat;
    background-size: 38px 38px;
    background-position: 0 center;
  }
  h3{
    font-size: 26px;
    color: #808080;
    padding-left: 40px;
    position: relative;
  }
  h3.undevelop{margin-top: 20px;}
  h3:after{
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: #00acc1;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -6px;
    border-radius: 50% 50%;
  }
  h3.undevelop:after{
    background: #e5e5e5;
  }
  p{
    font-size: 20px;
    color: #808080;
    padding-left: 40px;
  }
}

.managerList{
  position: absolute;
  left: 1200px;
  top: 50%;
  margin-top: -115px;
}

/* ------省级地图------ */
.symbol{
  width: 250px;
  position: absolute;
  left: 60px;
  top: 320px;
  z-index: 10;
  li{
    font-size: 26px;
    line-height: 50px;
    padding-left: 50px;
    margin-left: 30px;
    float: left;
  }
  li.li1{
    background: url(../image1080/10-pink.png) no-repeat;
    background-size: 32px 40px;
    background-position: 0 center;
    color: #da2064;
  }
  li.li2{
    background: url(../image1080/9-yellow.png) no-repeat;
    background-size: 32px 40px;
    background-position: 0 center;
    color: #fec20b;
  }
}
.symbol1{
  top: 380px;
  left: 20px;
}
/* ------省级地图结束------ */

/* ------市级地图------ */
.controlBox{
  width: 200px;
  height: 100px;
  position: absolute;
  z-index: 999;
  top: 450px; 
  left: 90px;
  li{
    float: left;
    width: 100px;
    height: 100px;
  }
  li:nth-child(1){
    background: url(../image1080/big-1.png) no-repeat;
    background-size: 60px 60px;
    background-position: center center;
  }
  li:nth-child(2){
    display: none;
    background: url(../image1080/small-1.png) no-repeat;
    background-size: 60px 60px;
    background-position: center center;
  }
}
.storeDetailBox{
  width: 1290px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -1200px;
  z-index: 1100;
  .Left,.Min{
    width: 600px;
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    top: 0;
  }
  .Left{
    left: 0;
  }
  .Min{
    left: 600px;
    background: #2f2f2f;
  }
  .Right{
    width: 90px;
    height: 230px;
    position: absolute;
    left: 1200px;
    top: 50%;
    margin-top: -115px;
    background: url(../image1080/store1.gif) no-repeat;
    background-size: 100% 100%;
    opacity: 0.5;
  }
  .Right2{
    background: url(../image1080/store2.gif) no-repeat;
    background-size: 100% 100%;
    opacity: 0.5;
  }
}

.storeListTit{
  width: 600px;
  height: 220px;
  position: relative;
  background: #808080;
  h2 {
    width: 100%;
    position: absolute;
    font-size: 30px;
    line-height: 60px;
    top: 160px;
    left: 20px;
    color: #dcdcdc;
  }
}

.storeList {
  /* margin-top: .5rem; */
  position: relative;
  // padding-top: 220px;
  background: #808080;
  overflow-x: hidden;
  h1{
    width: 100%;
    position: absolute;
  }
  > li {
    width: 100%;
    min-height: 200px;
    position: relative;
    color: #212226;
    background: #dcdcdc;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    h3 {
      font-size: 34px;
      font-weight: 700;
      margin-top: 15px;
    }
    p {
      font-size: 28px;
      line-height: 1.6em;
      padding-right: $font30;
    }
  }
  &>li.on{
    background: url(../image1080/4-littleblock.png) no-repeat, #fff;
    background-size: 36px 36px;
    background-position: 558px 6px;
  }
}

.storeDetail{
  .lunbo{
    width: 100%;
    height: 340px;
    background: #ccc;
  }
  .managerMsg:after{
    content: '';
    display: block;
    width: 540px;
    height: 2px;
    background: #191919;
    position: absolute;
    left: 30px;
    bottom: 0;
  }
  .managerMsg{
    padding-right: 30px;
    padding-bottom: 30px;
    position: relative;
    .photo{
      width: 140px;
      height: 140px;
      border-radius: 50%;
      background: url(../image1080/12-shopname.png) no-repeat;
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 40px;
      margin-top: -70px;
      z-index: 10;
    }
    h2{
      font-size: 30px;
      color: #dcdcdc;
      padding-left: 180px;
      margin-bottom: 60px;
    }
    h2.storeTit{
      height: 1.8em;
      position: absolute;
      top: -55px;
      left: 30px;
      overflow: hidden;
      z-index: 10;
    }
    &>p{
      font-size: 26px;
      color: #dcdcdc;
      line-height: 1.4em;
      span{color: #dcdcdc;}
    }
  }
  .storeMsg{
    font-size: 26px;
    color: #dcdcdc;
    li{
      width: 160px;
      line-height: 60px;
      text-align: center;
      border: 2px solid #dcdcdc;
      box-sizing: border-box;
      margin: 30px 30px 30px 0;
      float: left;
    }
    li:nth-child(3n){margin-right: 0;}
  }
}

/* ------店铺详情------ */

.storeName {
  color: #020202;
  font-size: 0.64rem;
  text-align: center;
}

/* 轮播图 */

.bannerBox {
  background: #1f1f23;
  height: 400px;
}

.flexslider {
  position: relative;
  height: 400px;
  overflow: hidden;
  background: url(../../image/loading.gif) 50% no-repeat;
}

.slides {
  position: relative;
  z-index: 1;
  li {
    height: 400px;
  }
}

.flex-control-nav {
  position: absolute;
  bottom: 10px;
  z-index: 2;
  width: 100%;
  text-align: center;
  li {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 5px;
    *display: inline;
    zoom: 1;
  }
  a {
    display: none;
  }
  .flex-active {
    background-position: 0 0;
  }
}

.flex-direction-nav {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 45%;
  li a {
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
  }
}

/* 店铺信息 */

.storeMsg {
  margin: 0.32rem 0.32rem 0 0.32rem;
}

/* ------店铺详情结束------ */
/* ------招商经理详情------ */

.managerDetailBox {
  background: #f0f5f9;
  margin-top: 43px;
  > {
    img {
      width: 100%;
      height: 2.4rem;
    }
    h2 {
      width: 2.21333rem;
      font-size: .6rem;
      line-height: 2em;
      text-align: center;
      color: #53616a;
      background: url(../image/6.1-head.png) no-repeat;
      background-size: 2.21333rem 2.21333rem;
      padding-top: 2.21333rem;
      margin: -1.1066rem auto 0 auto;
      position: relative;
    }
    h3 {
      font-size: .457rem;
      line-height: 2em;
      color: #53616a;
      padding: 0 0.64rem;
    }
  }
  .erweimaBox {
    width: 6.4rem;
    margin: 0.64rem auto 0 auto;
    img {
      width: 6.4rem;
      height: 6.4rem;
    }
    p {
      font-size: 0.533rem;
      text-align: center;
      color: #53616a;
      &.phone {
        background: url(../image/6.3-icon-phone.png) no-repeat;
        background-size: auto .58666rem;
        background-position: 0.42rem center;
      }
    }
  }
  .msg {
    margin-top: 0.42rem;
    h2 {
      font-size: 0.533rem;
      font-weight: 700;
      line-height: 1.2em;
      text-indent: .4em;
      color: #53616a;
      border-left: 0.1rem solid #53616a;
      margin: 0 0.64rem;
      margin-bottom: 0.32rem;
    }
    h3 {
      font-size: 0.42rem;
      line-height: 2em;
      color: #1f2022;
      padding: 0 0.64rem;
      padding-left: 1.04rem;
      position: relative;
      &:after {
        content: "";
        display: block;
        width: .2rem;
        height: .2rem;
        background: #fff176;
        border: 1px solid #d6d7dc;
        border-radius: 50%;
        margin-top: -.1rem;
        position: absolute;
        left: 0.64rem;
        top: 50%;
      }
    }
    .develop p {
      font-size: 0.36rem;
      color: #53616a;
      padding: 0 0.64rem;
    }
    .undevelop {
      padding-bottom: .5rem;
      h3:after {
        background: none;
      }
      li {
        font-size: 0.42rem;
        line-height: 1.0666rem;
        color: #53616a;
        border-bottom: 1px solid #e1e1e1;
        position: relative;
        padding: 0 0.64rem;
        padding-bottom: .1rem;
        padding-top: .1rem;
        span {
          width: 2.1332rem;
          display: inline-block;
          line-height: 1.0666rem;
          text-align: center;
          border-radius: .1rem;
          position: absolute;
          right: 0.64rem;
          &.on {
            background: #c9d6de;
          }
        }
      }
    }
  }
}

/* ------招商经理详情结束------ */
/* ------产品展示------ */

.productList {
  box-sizing: border-box;
  padding: 0.32rem;
  > li {
    width: 50%;
    height: 3rem;
    float: left;
  }
}

/* ------产品展示结束------ */
/* ------产品详情------ */

.productDetail {
  h1 {
    font-size: 0.64rem;
    color: #fff;
    background: #525252;
    text-align: center;
  }
  p {
    font-size: 0.42rem;
    color: #fff;
    background: #525252;
    text-align: center;
    margin-top: .5rem;
  }
}

/* ------产品详情结束------ */
/* ------店铺查询------ */

.storeSearchBox h1 {
  font-size: 0.64rem;
  color: #fff;
  background: #525252;
  text-align: center;
}

.storeSearch {
  padding: 0.5rem 0.32rem 0 0.32rem;
  .list {
    font-size: 0;
    label {
      display: inline-block;
      width: 10%;
      font-size: 0.36rem;
    }
    #province, #city {
      font-size: 0.36rem;
    }
  }
  button.submit {
    width: 100%;
    font-size: 0.42rem;
    line-height: 3em;
    text-align: center;
    color: #fff;
    background: #525252;
    margin-top: .5rem;
  }
}

/* ------店铺查询结束------ */